<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.completewallet.grocery">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kiranaicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kiranaicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.SplshScreenActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Registration"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerRegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Category"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Product"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ProductReview"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.ChangePassword"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.AccountUpdate"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.AboutUs"
            android:parentActivityName=".Activity.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>
        <activity android:name=".Activity.OrderHistoryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.SubOrderHistory"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.BuyNow"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.AddReview"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <service android:name=".Service.MyNotificationService"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".Service.NotiBroadcast"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="com.dealwithusmail.dealwithusmailversion100.ServiceRestarterBroadcast" />
            </intent-filter>
        </receiver>

        <activity android:name=".Checkout"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>